.nav-link,.stretched-link {
    color: #cc0000 !important;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.nav-link::before {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    height: 1px;
    border: 0px solid #cc0000;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.nav-link:hover::before {
    width: 70%;
    border: 1px solid #cc0000;
}

section {
    padding: 80px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.score {
    font-size: larger;
    font-weight: 700;
}

.team {
    font-size: large;
}

.win {
    color: #2eb82e;
}

.loose {
    color: #e60000;
}

.draw {
    color: #666666;
}

.separator {
    font-size: xx-large;
    font-weight: 500;
}

.section-body {
    border-collapse: collapse;
    width: 80%;
}
.section-body td, .section-body th {
    border: 1px solid #ddd;
    padding: 8px;
}

.section-body th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #cc0000;
    color: white;
}

.section-body tr:nth-child(even){background-color: #f2f2f2;}

.section-body tr:hover {background-color: #ddd;}